.info-section {
  background: #0e1414;
  padding-top: 160px;
  padding-bottom: 160px;

  .main-image {
    img {
      cursor: pointer;
      height: 648px;
      object-position: top center;
    }
  }
  .main-image img:hover {
    transition: all 0.3s;
    scale: 101%;
  }

  .flex-v-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 24px;

    div {
      height: calc(624px / 2);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      img:hover {
        transition: all 0.3s;
        scale: 101%;
      }
    }
  }
  .info-text-container {
    margin-top: 3px;
    h3 {
      font-weight: 300;
    }
    hr {
      border-top: 1px solid #ffffff;
      opacity: 1;
    }
    p {
      font-size: 19.5px;
      font-weight: 300;
      line-height: 34px;
    }
    h5 {
      font-size: 19.5px;
      color: #cf1430;
    }
    strong {
      font-size: 19.5px;
      line-height: 34px;
      font-weight: 400;
    }
  }
}

@media (max-width: 991.98px) {
  .info-section {
    padding-top: 80px;
    padding-bottom: 80px;

    .main-image {
      img {
        height: 300px;
      }
    }
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .info-section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 2%;
    padding-right: 2%;
    .main-image {
      img {
        height: 300px;
      }
    }

    .info-text-container {
      padding-bottom: 40px;
    }
  }
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
