.info-section {
  background: #0e1414;
  padding-top: 160px;
  padding-bottom: 160px;

  .main-image {
    img {
      height: 648px;
      object-position: top center;
    }
  }

  .flex-v-gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 624px;
    gap: 24px;

    div {
      height: calc(624px / 2);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .info-text-container {
    margin-top: 3px;
    h3 {
      color: #ffffff;
      font-weight: 300;
    }
    hr {
      border-top: 1px solid #ffffff;
      opacity: 1;
    }
    p {
      color: #d1d2d2;
      font-size: 19.5px;
      font-weight: 300;
      line-height: 34px;
    }
    h5 {
      font-size: 19.5px;
      color: #cf1430;
    }
    strong {
      color: #ffffff;
      font-size: 19.5px;
      line-height: 34px;
      font-weight: 400;
    }
  }
}

@media (max-width: 991.98px) {
  .info-section {
    padding-top: 80px;
    padding-bottom: 80px;

    .main-image {
      img {
        height: 300px;
      }
    }
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .info-section {
    padding-top: 60px;
    padding-bottom: 60px;
    .main-image {
      img {
        height: 300px;
      }
    }

    .info-text-container {
      padding-bottom: 40px;
    }
  }
}
